.avatar {
  width: 3.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-purple-600);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;

  &.card {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-purple-600);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
}
