.toast {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: right center;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease,
    rotate 0.5s ease;

  &--closing {
    transform: translateX(100%) rotate(10deg);
    opacity: 0;
  }

  &__close {
    background-color: var(--color-pink-200);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
  }
}

.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  pointer-events: none;

  .toast {
    position: relative;
    pointer-events: auto;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
